body {
    background-color : #9BC8C8;
    font-family: 'Roboto', sans-serif;
    color: white;
    }

img.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20%;
    } 

.txt{
    font-family: 'Roboto', sans-serif;
    margin-left:100px;
    margin-right:100px;
    text-align:justify;
    padding:10px;
    }

.paragraphe{
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    margin-left:50px;
    margin-right:50px;
    }

h1 {
    background-color:black;
    text-align:center;
    text-transform: uppercase;
    }

footer{
    text-align:center;
    background-color:black;
    width:100%;
}

.instagram-media{
   width:50px;
   width:50px;
}

.link{
    color:white;
}



#d1{background-color: #EECC4499;}
#d2{background-color: #44EEAA99;}